name: kernel-mt6768
version: KERNELRELEASE
summary: Linux kernel
description: The upstream Linux kernel for MediaTek MT6768 devices
grade: stable
confinement: strict
type: kernel

parts:
  kernel:
    plugin: kernel
    source: SRCTREE
    source-type: local
    kernel-with-firmware: false
